In [1]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
import csv

In [5]:
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline



train  = pd.read_csv('makeinindia_tweets.csv')
#test = pd.read_csv('test_tweets_anuFYb8.csv')

In [7]:
train.head()

,user,id,date,tweets,tidy_tweets,target
0,makeinindia,1093863238649950210,2019-02-08 13:24:53,b'Investments in Electronics Manufacturing (Co...,NaN,NaN
1,makeinindia,1093863030331502592,2019-02-08 13:24:04,b'Powering up development -- in the 2017-18 bu...,NaN,NaN
2,makeinindia,1093862552205967360,2019-02-08 13:22:10,"b'Presently, the PMP has been implemented on B...",NaN,NaN
3,makeinindia,1093862128237375489,2019-02-08 13:20:29,"b'Presently, the PMP has been implemented on B...",NaN,NaN
4,makeinindia,1093861979800961025,2019-02-08 13:19:53,b'The production value of Light Emitting Diode...,NaN,NaN

In [8]:
import pandas as pd
f=pd.read_csv("makeinindia_tweets.csv")
keep_col = ['tweets']
new_f = f[keep_col]
new_f.to_csv("newFile.csv", index=False)